.row{
    border-bottom: 1px solid #E0E0E0;
}
.request{
    font-size: 19px;
    color: #424242;
    font-weight: bold;
    border-right: 1px solid #E0E0E0;
    padding: 20px;
}
.request i.green{
    font-size: 42px;
    color: #6A1B9A;
}
.request i.blue{
    font-size: 42px;
    color: #0D47A1;
}
.request i.red{
    font-size: 42px;
    color: #B71C1C;
}
.request i.grey{
    font-size: 42px;
    color: #2e7d32;
}
